body {
  margin: 0;
  background-color: #aeaeae;
}

.container {
  display: block;
  width: 960px;
  margin: 0 auto;
  background-color: #000;
}

header {
  position: absolute;
  top: 0;
  width: 960px;
  background-color: #000;
}

ul {
  margin: 0 auto;
  color: #fff;
  list-style-type: none;
  padding: 12px 0 12px 31px;
  margin: 0;
}

input {
  position: absolute;
  right: 20px;
  top: 70px;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 15px;
}

input[type="text"] {
  width: 138px;
  height: 26px;
  padding-right: 50px;
  padding-left: 10px;
}

input[type="submit"] {
  margin-left: -50px;
  height: 30px;
  width: 50px;
  background-color: grey;
}

p {
  display: inline;
}

li {
  padding: 7px 13px;
  background-color: #000;
  border-radius: 5px;
  display: inline;
  font-family: arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
}

li:hover {
  background-color: #fff;
  cursor:pointer;
}

li:hover span {
  color: #000;
}

nav {
  border: solid #fff;
  border-width: 1px 0px 1px 0px;
}

#temp {
  background-image: url("example01.png");
  width: 960px;
  height: 165px;
}

.logo {
  padding: 23px 0 23px 20px;
}